.gantt-chart-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 380px;
  position: relative;
}

.gantt-chart-phases {
  width: 100px;
  background-color: #ffffff;
  z-index: 2;
  border-right: 1px solid #EEF2F5;
  margin-top: -10px;
  margin-bottom: -10px;
}

.gantt-chart-phases table {
  margin-top: 90px;
  width: 100%;
}

.gantt-chart-responsive {
  position: absolute;
  overflow: auto;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.gantt-chart-wrapper td {
	border-top: 1px solid #EEF2F5;
  border-right: 1px solid #EEF2F5;
  height: 60px;
  min-height: 60px;
  position: relative;
}

.gantt-chart-wrapper thead td {
  height: 40px;
  min-height: 40px;
	color: #5A7F9E;
	border-right: 0 solid;
}

.gantt-chart-wrapper thead.month td {
  border-top: 0;
  position: relative;
	top: -8px;
	left: 5px;
}

.gantt-chart-wrapper .task {
  background-color: #16E7B5;
  border-radius: 20px;
  padding: 2px 10px;
  color: #ffffff;
  position: absolute;
  top: 18px;
  left: 0;
  z-index: 1000;
  font-size: 12px;
  font-weight: bold;
  overflow: hidden;
  height: 22px;
}

.tooltip {
  width: 260px;
  height: 172px;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 3000;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.2);
  font-size: 12px;
  opacity: 1;
}

.tooltip:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-top-color: #ffffff;
  border-width: 10px;
  margin-left: -10px;
}

.tooltip-close {
  background-color: transparent;
  border: 0;
  border-radius: 50%;
  box-shadow: 0 0 0;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
  background-image: url(../../../../assets/images/icon-close-modal.svg);
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 1000;
}

.tooltip-close:hover {
  background-color: transparent;
}

.tooltip-content {
  padding-top: 15px;
  height: 100%;
}

.header-day {
	position: relative;
}

.header-day-content {
	position: absolute;
	top: 8px;
	left: 5px;
}

.year-wrapper .gantt-chart-wrapper td {
	border-right: 1px solid #ffffff;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

  .gantt-chart-phases {
    width: 180px;
    margin-top: -20px;
    margin-bottom: -20px;
  }

  .gantt-chart-phases table {
    margin-top: 100px;
	}

	.year-wrapper .gantt-chart-phases table {
		margin-top: 60px;
	}

  .gantt-chart-responsive {
    padding-left: 180px;
  }

}
