@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto:300,400&display=swap);

.login-wrapper {
  text-align: center;
  font-size: 18px;
  color: #41434c;
}

.main-container {
  width: 100%;
}

.row {
  margin-left: auto;
  margin-right: auto;
  max-width: 990px;
}

header .btn-link {
  color: #ff00f7 !important;
  font-size: 20px;
  margin-top: -5px;
}

.header-bg-remove {
  background-color: transparent;
}

.hero-smarttv {
  width: 80%;
}

.hero-wrapper {
  padding-top: 80px;
  height: 100vh;
  background-image: url(../../../assets/images/bg-hero.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  text-align: center;
  animation-delay: 1.1s;
}

.hero-title {
  display: flex;
  align-items: center;
  font-weight: bold;
  padding: 0 40px;
  margin-bottom: 20px;
  height: 50%;
  animation-delay: 1.1s;
}

.animate-pop-in {
  animation: pop-in .6s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
  opacity: 0;
}

.delay-1 {
  animation-delay: .3s;
}

.delay-2 {
  animation-delay: .7s;
}

.delay-3 {
  animation-delay: 1s;
}

.delay-4 {
  animation-delay: 1.3s;
}

.delay-5 {
  animation-delay: 1.7s;
}

.delay-6 {
  animation-delay: 2s;
}

.animation-parallax {
  transform: translate(-1000px, 0px);
}

.notification-mark {
  margin-top: 60px;
  font-size: 12px;
  color: #9c9c9c;
}

/* Animations */

@keyframes pop-in {
  0% {
    opacity: 0;
    transform: translateY(-4rem) scale(.8);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.mega {
  font-size: 1.8rem; /* 72 / 18 = 4 */
  margin-bottom: 0.4125rem;
}

.hero-image-wrapper {
  flex: 1 1 auto;
  display: flex;
  width: 100%;
  padding: 0 10px;
}

.hero-container {
  position: relative;
}

.hero-image-smarttv {
  max-height: 400px;
  max-width: 100%;
}

.hero-center {
  width: 100%;
}

.hero-image-smartphone {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.bg-waves-transparent {
  background-image: url(../../../assets/images/bg-waves-transparent.svg);
  background-size: cover;
}

.bg-waves-purple {
  background-image: url(../../../assets/images/bg-waves-purple.svg);
  background-size: cover;
}

.bg-trianglify-purple {
  background-image: url(../../../assets/images/bg-trianglify-purple.svg);
  background-size: cover;
}

.bg-trianglify-transparent {
  background-image: url(../../../assets/images/bg-trianglify-transparent.svg);
  background-size: cover;
}

.bg-trianglify-blue {
  background-image: url(../../../assets/images/bg-trianglify-blue.svg);
  background-size: cover;
}

.bg-gear-animated {
  background-image: url(../../../assets/images/bg-gear-animated.svg);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  opacity: 0.1;
}

.bg-gear-wrapper {
  background-color: #2c1b4e;
  position: relative;
}

.bg-gear-wrapper-container {
  position: relative;
  z-index: 1000;
}

.bg-dark {
  background-color: #17222d!important;
}

.bg-waves-square {
  background-image: url(../../../assets/images/bg-waves-square.svg);
  background-size: cover;
  position: relative;
}

.logo-webandtv {
  vertical-align: middle;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  width: 200px;
  height: 24px;
  background-image: url(../../../assets/images/logo-webandtv.svg);
}

.box-tile {
  text-align: center;
  position: relative;
}

.box-tile .image {
  margin-bottom: 20px;
}

.box-tile-content {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.box-tile-layout {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
  border-radius: 10px;
}

.box-tile-bg {
  background-image: url(../../../assets/images/bg-waves-transparent.svg);
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  border-radius: 10px;
  opacity: 0.2;
}

.box .blue {
	background-color: #219fe8;
	color: #ffffff;
}

.box .yellow {
	background-color: #ffbc00;
	color: #ffffff;
}

.box .purple {
	background-color: #6e00ff;
	color: #ffffff;
}

.box .red {
	background-color: #e80359;
	color: #ffffff;
}

.box .orange {
	background-color: #ff7600;
	color: #ffffff;
}

.box .green {
	background-color: #00d27b;
	color: #ffffff;
}

.section {
  padding: 80px 0;
}

.section.none-bottom {
  padding-bottom: 0;
}

.intro {
  font-size: 22px;
  font-family: 'Roboto';
  font-weight: 100;
}

h1, h2, h3, h4 {
  font-weight: 100;
  font-family: 'Roboto';
  font-weight: 100;
  line-height: 1.3;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 22px;
}

p {
  margin: 20px 0;
}

.text-muted {
  color: red;
}

.hight-light {
  color: #7326c7;
}

.text-white {
  color: #ffffff;
}

.text-white .hight-light {
  color: #ff00f7;
}

.text-white h1, .text-white h2, .text-white h3 {
  color: #ffffff;
}

.slider-control-centerleft, .slider-control-centerright {
  display: none;
}

.slider-control-bottomcenter {
  position: absolute;
  bottom: -30px !important;
}

.slider-list li {
  padding: 20px;
}

.profile-channel {
  background-image: url(../../../assets/images/image-revenue.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  min-height: 280px;
}

.content-half-half {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.logo-image {
  max-width: 220px;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	body {
		font-size: 15px;
  }

  .hero-center {
    max-width: 990px;
  }

  .hero-title {
    height: 28%;
    font-weight: bolder;
    max-width: 990px;
    margin-bottom: 40px;
  }

  .mega {
    font-size: 2.8rem; /* 72 / 18 = 4 */
  }

  .intro {
    font-size: 32px;
  }

  h2 {
    font-size: 40px;
  }  

  h3 {
    font-size: 28px;
  }
  
  .section {
    padding: 100px 0;
  }

	.box {
		padding: 20px;
  }
  
  .content-half-half.left {
    text-align: right;
    margin-right: 40px;
  }

  .content-half-half.right {
    text-align: left;
    margin-left: 40px;
  }

}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Basically just a bunch of typeface classes, some helper classes(letter-spacing, font-weight, etc.), decorative classes(line-on-headers, double-lines, etc). Three types of bg, image, gradient and solid color. I do this for testing headings/hero-image typography. Now there are ten presets here, but you can mix everything. I know that this brings to classivitis, but I still didn't dwelved into Saas, it is next on my learning roadmap, but I will create a fork soon with Saas and variables. */


/* Preset 1 ---- Bold/cursive  */
/* Preset 2 ---- Thin/bold  */
/* Preset 3 ---- Add emphasis with color */
/* Preset 4 ---- Thin/Super bold/thin */
/* Preset 5 ---- Playing with serifs */
/* Preset 6 ---- Super contrast */
/* Preset 7 ---- Vertical text */
/* Preset 8 ---- Playful type */
/* Preset 9 ---- Middle flourish */
/* Preset 10 ---- Overlay text */

/* ==== Font sizes(based on Typeplate's scale) ==== */
html {
  font: normal 112.5%/1.65 serif; /* base font size 18px with 1.65 line-height */
  -moz-font-feature-settings: "liga=1, dlig=1"; /* common and discretionary ligatures */
    -ms-font-feature-settings: "liga", "dlig";
    -webkit-font-feature-settings: "liga", "dlig";
    -o-font-feature-settings: "liga", "dlig";
    font-feature-settings: "liga", "dlig";
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
	display: inline-block;
	position: relative;
}

.gigantic{font-size: 11rem;}
.supersize{font-size: 8rem;}
.tera {
  font-size: 6.5rem; /* 117 / 18 = 6.5 */
  margin-bottom: 0.25385rem;
}

.giga {
  font-size: 5rem; /* 90 / 18 = 5 */
  margin-bottom: 0.33rem;
}



.alpha {
  font-size: 3.33333rem; /* 60 / 18 = 3.3333 */
  margin-bottom: 0.495rem;
}

.beta {
  font-size: 2.6667rem; /* 48 / 18 = 2.6667 */
  margin-bottom: 0.61875rem;
}

.gamma {
  font-size: 2rem; /* 36 / 18 = 2 */
  margin-bottom: 0.825rem;
}

.delta {
  font-size: 1.3333333333333333rem; /* 24 / 18 = 1.3333 */
  margin-bottom: 1.2375rem;
}

.epsilon {
  font-size: 1.16667rem; /* 21 / 18 = 1.1667 */
  margin-bottom: 1.41429rem;
}

.zeta {
  font-size: 1rem; /* 18 = 18 × 1 */
  margin-bottom: 1.65rem;
}
/* ==== Typefaces  ==== */

.open-sans{font-family: 'Open Sans';}
.lato{font-family: 'Lato'}
.playfair-display{font-family: 'Playfair Display'}
.libre-baskerville{font-family: 'Libre Baskerville'}
.oswald{font-family: 'Oswald'}
.montserrat{font-family: 'Montserrat'}
.vollkorn{font-family: 'Vollkorn'}
.bree-serif{font-family: 'Bree Serif'}
.raleway{font-family: 'Raleway'}
.merriweather{font-family: 'Merriweather'}
.cardo{font-family: 'Cardo'}
.abril-fatface{font-family: 'Abril Fatface'}
.muli{font-family: 'Muli'}

/* ==== Weights, styles, letterspacing, etc. ==== */

.thin{font-weight: 100;}
.light{font-weight: 300;}
.regular{font-weight: 400;}
.bold{font-weight: 700;}
.italic{font-style: italic;}
.normal{font-style: normal;}
.ls-small{letter-spacing: 2px;}
.ls-medium{letter-spacing: 4px;}
.ls-large{letter-spacing: 8px;}
.ls-xlarge{letter-spacing: 12px;}
.uppercase{text-transform: uppercase;}
.color-emphasis-1{color: #ffef00}
.color-emphasis-2{color: #000;}
.color-emphasis-3{color: #60547c}
.text-left{text-align: left;}
.line-height-small{line-height: 1.2}
.line-height-medium{line-height: 1.45}
.line-height-large{line-height: 1.65}


/* ===== Flourish, heading horizontal lines, etc. ==== */

.thick-header-line:before, .thick-header-line:after{
	content: "";
	display: block;
	position: absolute;
	width:7rem;
	height: 4px;
	background-color: #fff;
	top:50%;
	margin-bottom: -4px;
}
.thick-header-line:before{
	left: -7.5rem;
}
.thick-header-line:after{
	right: -7.5rem;
}

.thin-header-line:before, .thin-header-line:after{
	content: "";
	display: block;
	position: absolute;
	width:7rem;
	height: 1px;
	background-color: #fff;
	top:50%;
	margin-bottom: -1px;
}
.thin-header-line:before{
	left: -7.5rem;
}
.thin-header-line:after{
	right: -7rem;
}
.line-after-heading:before{
	content: "";
	display: block;
	position: absolute;
	background-color: #fff;
	width:4rem;
	height: 2px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	bottom: -2rem;
	
}
.double-header-line:before, .double-header-line:after{
	content: "";
	display: block;
	position: absolute;
	width:7rem;
	background-color: transparent;
	height: 4px;
	border-top: 1px solid #fff;
	border-bottom:1px solid #fff;
	top: 50%;
	margin-bottom: -4px;
}
.double-header-line:before{
	left: -7.5rem;
}
.double-header-line:after{
	right: -7.5rem;
}
.decorative-span{
  display: inline-block;
    font-size: 30px;
    line-height: 60px;
    margin: 0 10px;
    position: relative;
    vertical-align: middle;
	color: #fff;
}
.decorative-span:before, .decorative-span:after{
    background-color: #fff;
    bottom: 100%;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    right: 0;
}
.decorative-span:after {
    top: 96%;
}

.text-overlay:before{
	content: attr(data-text);
	z-index: 99;
	width: 98%;
	height: 50px;
	background-color: hsla(0,0%,0%,0.6);
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	line-height: 50px;
	text-align: center;
	color:#f0ad00;
	font-family: 'bree serif';
	font-style: normal;
	font-size: 1.3rem;
	letter-spacing: 0;
	text-transform: none;
	font-weight: 400;
}

/* ==== General styles ==== */

.wrapper{
	max-width: 53.33rem;
	margin: 0 auto;
	position: relative;
	z-index: 10;
	transform: translateY(-50%);
	top:50%;
	text-align: center;
}
.wrapper.large-wrap{max-width: 100%;}
section:nth-of-type(3n+1){
	background-size: cover;
}
section:nth-of-type(1){
	background-image: url(https://download.unsplash.com/photo-1429277096327-11ee3b761c93);
}
section:nth-of-type(2){
  background: -webkit-linear-gradient(90deg, #24C6DC 10%, #514A9D 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #24C6DC 10%, #514A9D 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #24C6DC 10%, #514A9D 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #24C6DC 10%, #514A9D 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #24C6DC 10%, #514A9D 90%); /* W3C */
        
}
section:nth-of-type(3){
	background-color: #2A2C39;
}
section:nth-of-type(4){
	background-image: url(https://download.unsplash.com/photo-1428550670225-15f007f6f1ba)
}
section:nth-of-type(5){
  background: -webkit-linear-gradient(90deg, #134E5E 10%, #71B280 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #134E5E 10%, #71B280 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #134E5E 10%, #71B280 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #134E5E 10%, #71B280 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #134E5E 10%, #71B280 90%); /* W3C */
        
        
}
section:nth-of-type(6){
	background-color: #FCF751;
}
section:nth-of-type(7){
	background-image: url(https://images.unsplash.com/photo-1453974336165-b5c58464f1ed?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=12d0ef05e407b1c9c85ad9875ece1a13)
}
section:nth-of-type(8){
	
  background: -webkit-linear-gradient(90deg, #485563 10%, #29323c 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #485563 10%, #29323c 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #485563 10%, #29323c 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #485563 10%, #29323c 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #485563 10%, #29323c 90%); /* W3C */
        
}
section:nth-of-type(9){
	background-color: #b78681;
}
section:nth-of-type(10){
	background-image: url(https://ununsplash.imgix.net/uploads/1413259835094dcdeb9d3/6e609595?q=75&fm=jpg&s=6a4fc66161293fc4a43a6ca6f073d1c5)
}
section:before{
	content: attr(data-description);
	font-size: 0.9rem;
	font-family: 'oswald';
	color: #fff;
	position: absolute;
	z-index: 20;
	left: 2rem;
	top: 2rem;
}

.btn-large {
  background-color: #48d468;
  border-color: #16E7B5;
  color: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  padding: 10px 20px;
  border-radius: 30px;
  height: 60px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-check-input {
  font-size: 20px;
  margin-top: 0px !important;
}

.terms-wrapper {
  position: relative;
  top: 5px;
  font-size: 14px;
  left: 5px;
  color: #451b46;
}

.terms-wrapper a {
  color: #2e1765 !important;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.call-to-action {
    max-width: 600px;
    margin: 0 auto;
	}
}